/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public/profiles
/storage/app/public/tasks
/storage/framework/cache/data
#/storage/framework/sessions
#/storage/framework/views
/storage/logs
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.example
.env.testing
/database/scratch/*
scratch/*
public/logs.txt
public/mix.*
public/variables.txt
redis-stable
redis-stable.tar.gz
composer.phar
.docker.env
nova_old/
nova/
public/nova-assets
/resources/assets/js/components/scratch
/tests/JS/Scratch.spec.js
*.icloud
/tests