/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/mix.js
/public/css/app.css
/storage/*.key
/storage/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/database/scratch/*
scratch/*
public/logs.txt
public/css/
public/js/
public/mix.*
public/variables.txt
redis-stable
redis-stable.tar.gz
composer.phar
.docker.env
nova_old/
nova/