// @import "./mobile/flex";
// @import "./mobile/sizing";
// @import "./mobile/text";
// @import "./mobile/typography";
// @import "./mobile/spacing";
// @import "./mobile/backgrounds";
// @import "./mobile/borders";

body {
    background-color: #F8FAFB;
}

p {
    color: #252631;
    font-weight: 500;
}

.divider {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

h4 {
    font-weight: bold;
}

.subHeader {
    color: #98A9BC;
    margin-top: 4px;
    font-weight: normal;
    font-size: 13px;
}

.profile-pic {
    width: 100px;
    height: 100px;
}

.sm-icon {
    width: 28px !important;
    height: 28px !important;
}

.small-header {
    color: #98A9BC;
    font-weight: normal;
    font-size: 10px;
}

.bg-primary {
    // background-color: #4D7CFE !important;
    background-color: #346aff !important;
}

.text-primary {
    color: #346aff;
}

.border-primary {
    border-color: #346aff;
}

.text-secondary {
    color: #98A9BC;
}

.page-header-title {
    color: #252631;
    font-size: 18px;
    font-weight: 600;
}

.card-title {
    color: #252631;
    font-size: 16px;
    font-weight: 600;
}