@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "./../../../node_modules/bootstrap/less/bootstrap";

// @import "./spark/spark";
@import "./../../../vendor/laravel/spark/resources/assets/less/spark";

@import "./model.less";
@import "./toggle.less";
@import "./stripe/buttons.less";

html {
  min-height: 100%;
}

body {
  background: linear-gradient(to top, #3b5998, #667cb2, #8fa1cb, #bac8e5, #e7efff) fixed;
  font-family: 'Roboto', sans-serif;
}

.icon {
  color: rgb(116, 116, 116);
}

.page-title {
  font-weight: 800;
}

.start-date {
  font-size: 1.62rem;
}

.job-price {
  font-size: 1.62rem;
}

.job-name {
  font-weight: 900;
  font-size: 2rem;
  margin: 16px 0px 16px 0px;
}

.task-name {
  font-weight: 900;
  font-size: 2rem;
  margin: 16px 0px 16px 0px;
  
}

.bid-task-price {
   //width: 40%;
  // float: right;
}

.job-status {
  float: right;
}

.right-label {
  float: right;
}

.primary-action-btn {
  float: right;
}

.label-xsmall {
  vertical-align: super;
  font-size: x-small;
}

.label-small {
  vertical-align: super;
  font-size: small;
}

.label-medium {
  vertical-align: super;
  font-size: medium;
}

.label-large {
  vertical-align: super;
  font-size: large;
}

.label-bs {
  vertical-align: super;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(20px);
  opacity: 0;
}

.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-20px);
  opacity: 0;
}


.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.btn-close {
  //padding: 10px 16px 10px 16px;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.nav-headband {
  height: 4px;
  background-color: #4F85CE;
}

.nav-wrapper {
  display: grid;
  grid-template-columns: 8rem repeat(6, 1fr) 1rem;
  height: 5rem;
  background-color: white;
  border-bottom: solid thin black;
}

.nav-padding {
}

.nav-link-section {
  margin: auto;
}

.home-nav {
  margin-left: auto;
  margin-right: auto;
}

.icon-color {
  color: rgb(74, 81, 88);
}

.float-right {
  float: right;
}

.form-control-date {
    display: inline-block;
    width: 94%;
    padding-left: 6px;
    padding-right: 0px;
}

.form-control-text {
    display: inline-block; 
    width: 75%;
    padding-left: 6px;
    padding-right: 0px;
}

.divider2 {
  //margin-bottom: 16px;
  border-top-color: #eee;
  border-top-width: 2px;
  border-top-style: solid;
  min-height: 15px;
}

.action-icon {
  color: #0099CC;
}

.home-page-wrapper {
  display: grid;
  grid-template-columns: 50px repeat(2, 1fr) 50px;
  grid-gap: 1rem;
}

.home-page-initiate-bid {
  grid-column-start: 2;
  grid-column-end: 3;
}

.home-page-bid {
  grid-column-start: 3;
  grid-column-end: 4;
}

.home-page-task {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.home-page-past-invoices {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.home-page-customer-past-invoices {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.home-page-section-style {
  border: thin solid white;
  background-color: white;
  border-radius: 10px;
}

.home-page-initiate-bid-logo {
  margin-top: 2rem;
}

.home-page-initiate-bid-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bolder;
  font-size: 20px;
}

.home-page-title {
  margin-bottom: 6rem;
  font-size: 75px;
  text-decoration: underline;
}

.home-page-past-stripe-dashboard {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.label-details {
  margin-bottom: 16px;
}

.footer-spacing {
  height: 40rem;
}

.refresh {
  margin-bottom: .5rem;
}

.label-span {
  font-size: 1rem;
}

.job-name {
  font-size: 2.5rem;
}
