
.with-navbar {
  padding-top: 0px;
}

.jemmson-navbar {
  //background-image: linear-gradient(to right, #161411, #82b690);
  height: 49pt;
  //border-bottom: solid black thin;
  overflow: hidden;
  // position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  color: white !important;
  // margin-bottom: 1rem; // p-b-1
}


.jemmson-footer {
  //background: linear-gradient(to right, #0a174b, #223dab) fixed;
  height: 49pt;
  //border-bottom: solid black thin;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%;
  color: white;
  z-index: 100000;
}

.jemmson-navbar > div {
  margin: auto !important;
}

.jemmson-footer > div {
  margin-top: auto;
  margin-bottom: auto;
}

.jemmson-navbar > div > a {
  color: white;
}

.jemmson-navbar > div > a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.jemmson-footer > div > a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.bell {
  color: white !important;
}


@media (min-width: 300px) {
  .jemmson-navbar span a {
    font-size: 1.5rem;
  }

  .jemmson-footer span a {
    font-size: 1.5rem;
  }
}

@media (min-width: 762px) {
  .jemmson-navbar span a {
    font-size: 16px;
  }

  .jemmson-footer span a {
    font-size: 16px;
  }
}